VITE_API_URL=http://localhost:5000
VITE_API_URL_PRO=https://tornadobe.vercel.app
VITE_ENV=development

# Admin dev credentials (chỉ dùng cho development)
VITE_ADMIN_USERNAME=admin1
VITE_ADMIN_EMAIL=admin@tornado.com
VITE_ADMIN_PASSWORD=admin1
